@import url('https://fonts.googleapis.com/css2?family=Edu+SA+Beginner:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

.page {
    width: 100%;
    height: 100%;
    position: absolute;
}

.top-tags {
    bottom: auto;
    top: 35px;
}

.tags {
    color: azure;
    opacity: 0.6;
    position: absolute;
    bottom: 20px;
    left: 180px;
    font-size: 20px;
    font-family: 'Edu SA Beginner', cursive;
}

.bottom-tag-html {
    margin-left: -30px;
}


.container {
    width: 100%;
    will-change: contents;
    height: 90%;
    min-height: 566px;
    position: absolute;
    opacity: 0;
    top: 5%;
    margin: 0 auto;
    z-index: 1;
    transform-style: preserve-3d;
    animation: fadeIn 1s forwards;
    animation-delay: 1s;

}


.about-page ,
.contact-page{
    .text-zone {
        position: absolute;
        left: 12%;
        top: 50%;
        transform: translateY(-50%);
        width: 35%;
        vertical-align: middle;
        display: table-cell;
        max-height: 90%;

        h1 {
            font-size: 53px;
            font-family: 'Poppins', sans-serif;
            color: rgb(50, 151, 240);
            font-weight: 400;
            margin-top: 0;
            position: relative;
            margin-bottom: 40px;
            left: 10px;




            &::before {
                content: '<h1>';
                font-family: 'Edu SA Beginner', cursive;
                color: #f1ff28;
                font-size: 32px;
                position: absolute;
                margin-top: -43px;
                left: -25px;

            }

            &::after {
                content: '</h1>';
                font-family: 'Edu SA Beginner', cursive;
                color: #f1ff28;
                font-size: 32px;
                position: absolute;
                margin-top: 60px;
                left: -30px;
                animation: fadeIn 1s 1.7 backwards;

            }

        }
        .p1,.p2 , .p3{
            position: relative;
            top: 30px;
            font-size: 15px;
            animation: pulse 1s;


            &:nth-of-type(1){
                animation-delay: 1.1s;
            }
            &:nth-of-type(2){
                animation-delay: 1.3s;
            }
            &:nth-of-type(3){
                animation-delay: 1.5s;
            }
        }
    }
    .text-animate-hover{
        &:hover{
            color: #f1ff28;
        }
    }
}