html{
  font-size: 62.5%;

}

body {
  margin: 0;
  display: block;
  overflow: hidden;
  min-width: 320px;
  font: 300 11px/1.4 'Poppins', sans-serif;
  min-height: 100vh;
  background-color: #191919;
color: #fff;


}

